body {
  margin: 0;
  background-color: rgb(10, 83, 100);
}

.App {
  text-align: center;
}
.logo {
  display: flex;
  margin-left: 2rem;
  height: 5rem;
}
.logo:hover {
  transform: scale(1.2);
}
.container {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}
